/*

    Name:       stan


*/

.cm-s-stan.CodeMirror { background: #f7f7f7; color: #3a3432; }
/*.cm-s-stan div.CodeMirror-selected { background: #d6d5d4; } */

/*.cm-s-stan .CodeMirror-line::selection, .cm-s-stan .CodeMirror-line > span::selection, .cm-s-stan .CodeMirror-line > span > span::selection { background: #d6d5d4; }
.cm-s-stan .CodeMirror-line::-moz-selection, .cm-s-stan .CodeMirror-line > span::-moz-selection, .cm-s-stan .CodeMirror-line > span > span::selection { background: #d9d9d9; }
*/
.cm-s-stan .CodeMirror-gutters { background: #f7f7f7; border-right: 0px; }
.cm-s-stan .CodeMirror-guttermarker { color: #db2d20; }
.cm-s-stan .CodeMirror-guttermarker-subtle { color: #807d7c; }
.cm-s-stan .CodeMirror-linenumber { color: #807d7c; }

.cm-s-stan .CodeMirror-cursor { border-left: 1px solid #5c5855; }

.cm-s-stan span.cm-comment { color: #408080; }
.cm-s-stan span.cm-atom { color: #a16a94; }
.cm-s-stan span.cm-builtin { color: #008000; }
.cm-s-stan span.cm-type { color: #db2d20;  }
.cm-s-stan span.cm-number { color: #a16a94; }

.cm-s-stan span.cm-property, .cm-s-stan span.cm-attribute { color: #01a252; }
.cm-s-stan span.cm-keyword { color: #008000; font-weight:bold; }
.cm-s-stan span.cm-string { color: #a16a94; }

/*.cm-s-stan span.cm-variable { color: #01a252; }
.cm-s-stan span.cm-variable-2 { color: #01a0e4; }*/
.cm-s-stan span.cm-def { color: #e8bbd0; }
.cm-s-stan span.cm-bracket { color: #3a3432; }
.cm-s-stan span.cm-tag { color: #db2d20; }
.cm-s-stan span.cm-link { color: #a16a94; }
/*.cm-s-stan span.cm-error { background: #db2d20; color: #5c5855; }*/

.cm-s-stan .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-stan .CodeMirror-matchingbracket { text-decoration: underline; color: #a16a94 !important; }
